<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="">
    <form>
        <label >Enter Name</label>
        <input type="text" ng-required="true" ng-model="data.name">
        <label >Username</label>
        <input type="text" ng-minlength="3" ng-maxlength="8" ng-model="data.username">
    </form>
    <hr>
    <h2>Output</h2>
    <p>Name: {{data.name}}</p>
    <p>Username: {{data.username}}</p>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js" 
    integrity="sha512-rCVQBDU9Ny0aKLo1/B1MqgRjWEMlCL3WJ0DD6mJeK6qMZqpN9JCRxPtMQWWR9XWCMFIqlSgT4uOdwpvxWTSejw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="form.js"></script>
    
</body>
</html>