<section>
    
    <h2>Total Request Count: {{database.size}}</h2>
        <table class="table table-striped">
            <thead><tr>
                <th>Id</th>
                <th>Name</th>
                <th>RollNo</th>
                <th>Age</th>
                <th>Email</th>
                <th>Date</th>
                <th>Gender</th>
                
               </tr></thead>
               <tbody>
                <tr ng-repeat="student in database.responseArray">
                  <td> {{ student.id }}</td>
                  <td> {{ student.name }} </td>
                  <td> {{ student.rollNo }} </td>
                  <td> {{ student.age }} </td>
                  <td> {{ student.email }} </td>
                  <td> {{ student.date }} </td>
                  <td> {{ student.gender }} </td>
                </tr>
              </tbody>
        </table>
</section>