
<div class="container border border-primary">
  <header>
    <h2>Product List</h2>
  </header>

  <label>Filter <input ng-model="searchText"></label>
<table class="table table-striped">
    <thead><tr>
        
        <th><button ng-click="hideShow=(hideShow ? false : true)">Images</button></th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>Rating</th>
        
        
       </tr></thead>
       <tbody>
        <tr ng-repeat="product in products | filter:searchText">
          
          <td> <img ng-if="hideShow" src={{product.imageUrl}} alt="welcome image" width = "150" height = "100"></td>
          <td> <a href="#/products" ng-click="productDetails(product)">{{product.productName}}</a></td>
          <td> {{ product.productCode}} </td>
          <td> {{ product.releaseDate}} </td>
          <td> {{ product.price}} </td>
          <td > <div star-rating rating-value="product.starRating" max="5" ></div> </td>
          
        </tr>
      </tbody>
</table>
</div>

